* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center; 
  
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  background-color: rgb(157, 229, 247);
  border: 1px solid #000;
  width: 100vw;
  height: 100vh;
}
